.gray-hbox {
    -fx-background-color: rgba(164, 164, 164, 0.5); /* Gray color with 50% opacity */
    -fx-max-width: 327;
}

.destination {

    -fx-font-family:Algerian ;
    -fx-font-size: 30 ;
}
.info{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 24;
}



.home-info{
    -fx-font-family: "Times New Roman";
    -fx-font-size: 21;
    -fx-font-weight: bold;
}




