.headtitle{
    -fx-font-weight:bold;
    -fx-font-size: 32;
    -fx-font-family: Calibri ;

}

.purplebox{
    -fx-background-color: rgba(110, 91, 192, 0.5);
}

.button {
    -fx-background-color: #9a76b0;
    -fx-text-fill: white;
    -fx-cursor: default;
    -fx-opacity: 0.88;
    -fx-font-size: 14px;
    -fx-transition: 0.2s ease-in-out;
}

.button:hover {
    -fx-background-color: #6d3d97;
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-font-weight: bold;}